<h1><%= @merchant.name %></h1>
<p class="address"><%= @merchant.address %></p>
<p class="address address-second"><%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %></p>
<section class="merchant-stats">
  <p>Number of items: <%= @merchant.count_of_items %></p>
  <% if @merchant.items.empty? %>
    <p>No average</p>
  <% else  %>
    <p>Average cost of item: <%= number_to_currency(@merchant.avg_item_price) %></p>
  <% end %>
</section>
<ul id="merchant-cities">
  <p>Distinct cities:</p>
  <% @merchant.cities_ordered.each do |city| %>
    <li><%= city.city %></li>
  <% end %>
</ul>
<section class="merchant-links">
  <%= link_to "All #{@merchant.name} Items", "/merchants/#{@merchant.id}/items" %>
  <%= link_to "Update Merchant", "/merchants/#{@merchant.id}/edit" %>
  <% if !@merchant.has_orders? %>
    <%= link_to "Delete Merchant", "/merchants/#{@merchant.id}", method: :delete %>
  <% end %>
</section>
